.inputContent {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: .25rem;
}

.inputContent label {
  font-size: 1.2rem;
  color: var(--grey);
}

.inputContent input {
  height: 2.25rem;
  border-radius: 0.4rem;
  border: 0.0625rem solid var(--grey);
}

.inputContent input[type="date" i],
.inputContent input[type="text" i] {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: var(--grey);
}