/*----- RESET -----*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----- VARIABLES -----*/

:root {
  --green: hsl(130, 31%, 60%);
  --light-green: hsl(130, 79%, 94%);
  --red: hsl(0, 51%, 59%);
  --grey: hsl(0, 0%, 41%);
  --white: hsl(0, 0%, 99%);
  --black: hsl(0, 0%, 17%);
}


body {
  font-family: 'Poppins', sans-serif;
  background: var(--white);
}

/*----- INPUT CONTENT -----*/

.inputContent {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.inputContent label {
  font-size: 1.2rem;
  color: var(--grey);
}

/*----- LOGIN AREA -----*/

#loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loginArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginArea img {
  width: 6.25rem;
  
}

#loginArea h1 {
  margin-top: .9rem;
  margin-bottom: 2.31rem;
  font-size: 1.6rem;
  color: var(--grey);
}

#loginArea form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#loginArea form input {
  width: 16.5rem;
  height: 3rem;
  border-radius: .4rem;
  border: .0625rem solid var(--grey);
}

#loginArea form input::placeholder {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--green);
}

#loginArea a {
  color: var(--green);
  font-size: .8rem;
  margin-top: .9rem;
}

/*----- DESTINATION -----*/

#destinationHeader {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  min-height: 4.5rem;
  background: var(--light-green);
}

#destinationHeader h1 {
  font-size: 1.6rem;
  color: var(--grey);
}

#destinationMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 75vh;
}

#destinationMain span {
  font-size: .8rem;
  font-style: italic;
}

#destinationMain .inputContent input {
  height: 2.25rem;
  border-radius: .4rem;
  border: .0625rem solid var(--grey);
}

#destinationMain .inputContent input[type="date" i]{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: .8rem;
  font-weight: 300;
  color: var(--grey);
}