table {
  min-width: 22rem;
  border-radius: 0.25rem;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid var(--grey);
  font-size: .7rem;
}

thead {
  /*background: var(--light-green);*/ /* TODO: como colorir dentro da thead todo, sem essas bordas brancas */
  color: var(--grey);
}

th {
  border-bottom: 1px solid var(--grey);
}

table tbody tr td:nth-child(3){
  text-align: left;
}